@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
  --font: 'Roboto', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --primary-color: #FFB703;
  --secondary-color: #FFC83C;

  --text-color: #4D4D4D;
  --text-color-alt: #979797;
  
  --gray-color: #E9E9E9;
  --light-color: #FFFFFF;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: var(--font);

  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
  position: relative;
}

a{
  text-decoration: none;
  color: var(--text-color);
}


/* Header */
.header__container{
  width: 100%;
  height: 8rem;

  position: fixed;
  z-index: 100;

  background-color: var(--primary-color);
}
.container{
  width: 90%;
  max-width: 980px;
}
.header__content{
  margin: auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-image{
  width: 120px;
  height: auto;
}


.nav__content{
  display: flex;
  gap: 3rem;

  list-style: none;
}
.nav-links{
  font-size: 1.8rem;
  font-weight: var(--font-medium);
}


.search__container{
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;

  background-color: var(--light-color);
}
.search__content{
  padding: 1rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__content input{
  padding: 0 1rem;

  border: none;
  outline: none;

  font-size: 1.8rem;

  color: var(--text-color);
}
.search__content input::placeholder{
  color: var(--text-color-alt);
}
.search-btn{
  display: flex;
  align-items: center;
}
.search-btn i{
  font-size: 1.8rem;
  color: var(--text-color-alt);
}




/* Home */
main{
  width: 100%;

  position: relative;
  top: 8rem;
  left: 0;
}
.home__container{
  width: 100%;
}
.home__content{
  margin: auto;
  
  padding: 7rem 9rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  color: var(--text-color);
}

.home__subtitle{
  font-size: 1.8rem;
  font-weight: 700;
}
.home__title{
  font-size: 7rem;
  font-weight: 700;

  line-height: 8rem;
}



/* Generations */
.generations__container{
  width: 100%;

  position: relative;
}
.bg-image{
  position: absolute;
  z-index: -1;

  width: calc(40% + 20%);
}
.bg1{
  left: 0;
}
.bg2{
  top: 50%;
  right: 0;
}
.generations__content{
  margin: 112px auto 0;

  text-align: center;

  color: var(--text-color);
}

.generations__cards__container{
  margin: 5rem 0;

  width: 100%;

  position: relative;

  display: grid;

  gap: 10rem;
}

.generations__line{
  width: 0.7rem;
  height: 100%;

  z-index: -1;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--gray-color);

  border-radius: 1rem;
}

.cards__container{
  width: 100%;
  height: 220px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  justify-items: center;
}
.cards__container img{
  height: 220px;
  width: 330px;

  border-radius: 1rem;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.dot{
  background-color: var(--text-color);

  width: 2.8rem;
  height: 2.8rem;

  border-radius: 100%;
}
.card__text__container{
  display: grid;
  gap: 1rem;

  text-align: left;

  width: 330px;
}
.card__description{
  text-align: justify;
}

.inverter-text{
  order: -1;
}
.inverter-image{
  order: 2;
}



/* About */
.about__container{
  width: 100%;

  margin: 16rem 0;
}
.about__content{
  margin: 0 auto;

  color: var(--text-color);

  display: grid;
  place-items: center;
  gap: 5rem;
}

.history__container{
  width: 100%;

  padding: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  background-color: var(--primary-color);
}
.history__content{
  width: 96%;
  height: 90%;

  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 5rem;

  border-radius: 1rem;
  background-color: var(--secondary-color);
}
.history__content video{
  width: auto;
  height: 300px;

  overflow: hidden;

  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}
.history__content video::after{
  overflow: hidden;
}

.history__description{
  text-align: justify;

  width: 400px;
}




/* Footer */
.footer__container{
  width: 100%;

  color: var(--text-color-alt);
  background-color: var(--gray-color);
}
.footer__content{
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3rem 0;

  gap: .5rem;

  font-size: 1.6rem;
}