@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --font: "Roboto", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --primary-color: #ffb703;
  --secondary-color: #ffc83c;

  --text-color: #4d4d4d;
  --text-color-alt: #979797;

  --gray-color: #e9e9e9;
  --light-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--font);

  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.header__container {
  width: 100%;
  height: 8rem;

  position: fixed;
  z-index: 100;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  background-color: var(--primary-color);
}
.container {
  width: 90%;
  max-width: 980px;
}
.header__content {
  margin: auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-image {
  width: 120px;
  height: auto;

  pointer-events: none;
}

.nav__container {
  transition: 0.3s;
}
.nav__content {
  display: flex;
  gap: 3rem;

  list-style: none;
}
.nav-links {
  font-size: 1.8rem;
  font-weight: var(--font-medium);
}

.search__container {
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;

  transition: 0.3s;

  background-color: var(--light-color);
}
.search__content {
  padding: 1rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__content input {
  padding: 0 1rem 0 0.4rem;

  border: none;
  outline: none;

  font-size: 1.8rem;

  color: var(--text-color);
}
.search__content input::placeholder {
  color: var(--text-color-alt);
}
.search-btn {
  display: flex;
  align-items: center;
}
.search-btn i {
  font-size: 1.8rem;
  color: var(--text-color-alt);
}
.toggles {
  display: none;
}

main {
  width: 100%;

  position: relative;
  top: 8rem;
  left: 0;
}
.home__container {
  width: 100%;
}
.home__content {
  margin: auto;

  padding: 7rem 9rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  color: var(--text-color);
}

.home__subtitle {
  font-size: 1.8rem;
  font-weight: 700;
}
.home__title {
  font-size: 7rem;
  font-weight: 700;

  line-height: 8rem;
}

.generations__container {
  width: 100%;

  position: relative;
}
.bg-image {
  position: absolute;
  z-index: -1;

  width: calc(40% + 20%);
}
.bg1 {
  left: 0;
}
.bg2 {
  top: 50%;
  right: 0;
}
.generations__content {
  margin: 112px auto 0;

  text-align: center;

  color: var(--text-color);
}

.generations__cards__container {
  margin: 5rem 0;

  width: 100%;

  position: relative;

  display: grid;

  gap: 10rem;
}

.generations__line {
  width: 0.7rem;
  height: 100%;

  z-index: -1;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--gray-color);

  border-radius: 1rem;
}

.cards__container {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  justify-items: center;
}
.cards__container img {
  height: auto;
  width: 330px;

  border-radius: 1rem;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.dot {
  background-color: var(--text-color);

  width: 2.8rem;
  height: 2.8rem;

  border-radius: 100%;
}
.card__text__container {
  display: grid;
  gap: 1rem;

  text-align: left;

  width: 330px;
}
.card__description {
  text-align: justify;
}

.inverter-text {
  order: -1;
}
.inverter-image {
  order: 2;
}

.pokedex__container {
  width: 100%;

  margin: 10rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5rem;

  color: var(--text-color);
}
.pokedex__content {
  height: 90%;

  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  place-items: center;
  gap: 2rem;
}
.more-btn {
  font-size: 3rem;

  display: flex;
  align-items: center;

  color: var(--light-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: none;

  padding: 1rem;

  cursor: pointer;

  transition: 0.3s;
}
.more-btn:hover {
  background-color: var(--primary-color);
}
.card__pokedex {
  width: 220px;
  height: 220px;
  background-color: var(--secondary-color);

  border-radius: 1rem;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

  transition: 0.3s;
}
.card__pokedex:hover {
  background-color: var(--primary-color);
}
.card__pokedex__title {
  padding: 4rem 0 2rem;

  pointer-events: none;
}

.card__pokedex img {
  height: 90px;
  width: 90px;

  pointer-events: none;
}

.about__container {
  width: 100%;

  padding-bottom: 15rem;
}
.about__content {
  margin: 0 auto;

  color: var(--text-color);

  display: grid;
  place-items: center;
  gap: 5rem;
}

.history__container {
  width: 100%;

  padding: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  background-color: var(--primary-color);
}
.history__content {
  width: 96%;
  height: 90%;

  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 5rem;

  border-radius: 1rem;
  background-color: var(--secondary-color);
}
.history__content video {
  width: auto;
  height: 300px;

  overflow: hidden;

  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}
.history__content video::after {
  overflow: hidden;
}

.history__description {
  text-align: justify;

  width: 400px;
}

.footer__container {
  width: 100%;
  padding: 3rem 0;

  color: var(--text-color-alt);
  background-color: var(--gray-color);
}
.footer__content {
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  gap: 0.5rem;

  font-size: 1.6rem;
}

.modal__container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 6rem;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s;

  background-color: var(--light-color);
}

.show-modal-container {
  visibility: visible;
  opacity: 1;

  top: 8rem;
}

.close-modal {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  color: var(--text-color);
  border: none;
  background-color: transparent;

  cursor: pointer;
}
.close-modal i {
  font-size: 3rem;
}
.modal__pokemon {
  width: 30%;
  max-width: 350px;
  height: 70%;
  max-height: 500px;

  position: absolute;

  visibility: hidden;
  transition: .3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  background-color: var(--gray-color);
}

.i-container {
  position: absolute;
  top: 3rem;
  left: -10%;

  width: 120%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5rem;

  background-color: var(--secondary-color);
}
.modal__title {
  color: var(--text-color);
}
.i-left {
  position: absolute;
  top: 25px;
  left: 0;

  width: 8.5%;
  height: 80px;

  border-bottom-left-radius: 2.5rem;

  background-color: var(--secondary-color);
}
.i-left::before {
  content: "";

  position: absolute;
  top: 35px;
  right: 0;

  width: 100%;
  height: 50px;

  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;

  background-color: var(--primary-color);
}

.i-right {
  position: absolute;
  top: 25px;
  right: 0;

  width: 8.5%;
  height: 80px;

  border-bottom-right-radius: 2.5rem;

  background-color: var(--secondary-color);
}
.i-right::before {
  content: "";

  position: absolute;
  top: 35px;
  right: 0;

  width: 100%;
  height: 50px;

  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;

  background-color: var(--primary-color);
}

.pokemon__image {
  height: 30%;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 3rem;

  margin-bottom: 8rem;
}
#pokemon-img {
  height: 100%;
}
.rotate-pokeball {
  animation: pokeball 1.5s 2 linear;
}

.pokemon__container {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

  color: var(--text-color);
}
.pokemon__description {
  text-align: justify;
}

#modal-fail {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

  max-width: 500px;
  height: 40%;
  min-height: 350px;

  background-color: var(--gray-color);

  padding: 3rem 5rem;

  visibility: hidden;
  transition: .3s;

  border-radius: 1rem;

  position: relative;
}
#modal-fail img {
  max-width: 300px;
  max-height: 300px;

  border-radius: 1rem;
}
#modal-fail a {
  position: absolute;

  bottom: 1rem;
}

@keyframes pokeball {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1054px) {
  .home__content {
    padding: 7rem 6rem;
  }
}

@media screen and (max-width: 987px) {
  .home__content {
    padding: 7rem 3rem;
  }
}

@media screen and (max-width: 973px) {
  .history__content {
    gap: 2.5rem;
  }
  .history__content video {
    height: 280px;
  }

  .history__description {
    width: 280px;
  }
}

@media screen and (max-width: 920px) {
  .search__content {
    padding: 1rem 0.5rem;
  }
  .search__content input {
    padding: 0 1rem 0 0.4rem;

    font-size: 1.6rem;
  }

  .home__content img {
    width: 380px;
  }

  .home__title {
    font-size: 6.5rem;
  }

  .cards__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
  .card__text__container {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  .card__title {
    text-align: left;
  }
  .cards__container img {
    width: 40%;
  }
  .card__description {
    width: auto;
  }

  .dot {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
  }

  .pokedex__content {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 2rem;
  }

  .card__pokedex {
    width: 190px;
    height: 190px;
  }

  .card__pokedex__title {
    padding: 3rem 0 2rem;
  }

  .card__pokedex img {
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 863px) {
  .nav__content {
    gap: 2rem;
  }
  .nav-links {
    font-size: 1.6rem;
  }

  .search__content {
    padding: 1rem 0.5rem;
    width: 180px;
  }
  .search__content input {
    padding: 0 1rem 0 0.4rem;
    width: 90%;

    font-size: 1.6rem;
  }

  .home__content img {
    width: 350px;
  }

  .home__title {
    font-size: 6rem;
  }

  .card__text__container {
    padding: 0 1.5rem;
    height: auto;
    width: 40%;
  }

  .cards__container img {
    height: auto;
    width: 40%;
  }

  .modal__pokemon {
    width: 100%;
    max-width: 350px;
  }
  .pokemon__image {
    height: 25%;
  }
}

@media screen and (max-width: 768px) {
  .nav__container,
  .search__container {
    position: absolute;
    top: -500px;
    left: 0;

    width: 100%;
    height: 300px;

    background-color: var(--secondary-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

    border-radius: 0 0 2rem 2rem;
  }
  .nav__content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    font-size: 2rem;
  }

  .search-content {
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: initial;
    height: 100%;
    width: 100%;
  }
  .search__content {
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--light-color);

    width: initial;
  }
  .search__content input {
    padding: 0 1rem 0 0.4rem;
    width: initial;

    border: none;
    outline: none;

    font-size: 1.8rem;

    color: var(--text-color);
  }
  .search__content input::placeholder {
    color: var(--text-color-alt);
  }
  .search-btn {
    display: flex;
    align-items: center;
  }
  .search-btn i {
    font-size: 1.8rem;
    color: var(--text-color-alt);
  }

  .home__title {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .home__content img {
    width: 300px;
  }

  .bg-image {
    width: calc(60% + 20%);
  }

  .toggles {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .toggle {
    border: none;
    background-color: transparent;

    color: var(--text-color);

    font-size: 2.4rem;
  }
  .toggle i {
    pointer-events: none;
  }

  .history__content {
    display: flex;
    flex-direction: column;
  }
  .history__description {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .content {
    width: 95%;
  }
  .home__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .home__content img {
    width: 260px;
    order: -1;
  }

  .generations__cards__container {
    gap: initial;
  }
  .generations__content {
    margin: 50px auto 0;
  }
  .cards__container {
    display: flex;
    width: 100%;
  }
  .cards__container img,
  .dot,
  .generations__line {
    display: none;
  }
  .card__text__container {
    width: 100%;
    display: flex;
    align-items: center;

    padding: 2rem 0;
  }

  .pokedex__content {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 2rem;
  }

  .card__pokedex {
    width: 160px;
    height: 160px;
  }

  .card__pokedex img {
    height: 50px;
    width: 50px;
  }

  .history__content video {
    height: 240px;
  }
}

@media screen and (max-width: 425px) {
  .home__content img {
    width: 220px;
  }

  .pokedex__content {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .card__pokedex {
    width: 130px;
    height: 130px;
  }
  .card__pokedex__title {
    padding: 2.5rem 0 1.5rem;
  }

  .card__pokedex img {
    height: 40px;
    width: 40px;
  }

  .history__content video {
    height: 200px;
  }

  .modal__pokemon {
    width: 100%;
    max-width: 300px;
  }
  .pokemon__image {
    height: 20%;
  }

  #modal-fail {
    max-width: 300px;
    max-height: 320px;
    min-height: 300px;
  }

  .modal__title {
    font-size: 1.8rem;
  }
  #modal-fail img {
    max-width: 240px;
  }
}

@media screen and (max-width: 366px) {
  .modal__pokemon {
    width: 100%;
    max-width: 250px;
  }
  .pokemon__image {
    top: 3.5rem;
  }
}

@media screen and (max-width: 325px) {
  .home__title {
    font-size: 4rem;
  }
  .history__content video {
    height: 180px;
  }

  .pokemon__image {
    width: auto;
    height: auto;
  }

  .copy {
    font-size: 1.4rem;
  }
}

.show-menu {
  top: 8rem;
}
